<?xml version="1.0" encoding="UTF-8"?>

<Config>
    <dbs>
        <DBConfig>
            <name>本地_ATT</name>
            <url>mongodb://127.0.0.1</url>
            <dbName>lztb_att</dbName>
            <loadConfigUrl>http://127.0.0.1:45001?mid=20009&amp;sid=14d1d10adb8fb4a380966d55c145498320b9596b</loadConfigUrl>
        </DBConfig>
        <DBConfig>
            <name>本地_HALL</name>
            <url>mongodb://127.0.0.1</url>
            <dbName>lztb_hall</dbName>
        </DBConfig>
        <DBConfig>
            <name>测试服</name>
            <url>mongodb://tonylynnjjy123..:fdfdjlj123.#!#!.454.@183.61.172.59:28018</url>
            <dbName>lztb_att</dbName>
            <loadConfigUrl>http://183.61.172.59:45001?mid=20009&amp;sid=14d1d10adb8fb4a380966d55c145498320b9596b</loadConfigUrl>
        </DBConfig>
        <DBConfig>
            <name>本地_BYDR</name>
            <url>mongodb://127.0.0.1</url>
            <dbName>lztb_bydr</dbName>
            <loadConfigUrl>http://127.0.0.1:46001?mid=2&amp;sid=14d1d10adb8fb4a380966d55c145498320b9596b</loadConfigUrl>
        </DBConfig>
    </dbs>
    <!--    <excelDir></excelDir>-->  <!--当前项目路径-->
    <excelDir>E:\Art\策划文档\翻牌机\翻牌机数值</excelDir>
</Config>
